[submodule "googletest/original_repo"]
	path = googletest/original_repo
	url = https://github.com/google/googletest.git
[submodule "c-ares/original_repo"]
	path = c-ares/original_repo
	url = https://github.com/c-ares/c-ares.git
[submodule "zlib/original_repo"]
	path = zlib/original_repo
	url = https://github.com/madler/zlib.git
[submodule "duilib/original_repo"]
	path = DuiLib/original_repo
	url = https://github.com/duilib/duilib.git
[submodule "libyuv/original_repo"]
	path = libyuv/original_repo
	url = https://github.com/FayneWang/libyuv.git
[submodule "ZZCommon/original_repo"]
	path = ZZCommon/original_repo
	url = https://github.com/FayneWang/ZZCommon.git
[submodule "curl/original_repo"]
	path = curl/original_repo
	url = https://github.com/curl/curl.git
